@import "./STYLES/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap');

*{
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.header {
  background-color: #0D5C63;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 4%;
}

h1{
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 5rem;
}

h2{
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
}

p, ::placeholder {
  font-family: "Open Sanes Condensed", sans-serif;
  font-size: 1.8rem;
}