@import "./STYLES/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&display=swap');
/* 
charcoal: #3A405A
azureish: #D2DFF4
lumber: #F9E1CD
pink: #E9AFA3
brown: #685044 
*/

*{
  box-sizing: border-box;
  font-size: 62.5%;
}

.App {
  text-align: center;
  min-height:100vh;
  background-color: #F9E1CD;

}
.header, h1, h2, h3, h4, p, input, button {
  border: 1px solid red;
}

.header {
  background-image: url("./STYLES/header-photo.jpg");
  background-position: 35% 51%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #3A405A;
  margin-bottom: 2%;
  border-radius: 5px;
  border: 2px solid rgba(58, 64, 90, .5)
}
.body{
  min-height: 100vh;
}
h1{
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 6rem;
  color: white;
  text-shadow: 2px 2px #685044;
  width: 55%;
  margin: 5% 0 0 3%;
}

h2{
  font-family: "Indie Flower", cursive;
  font-size: 2.5rem;
  text-shadow: 2px 2px #E9AFA3;
  color: #3A405A;
  width: 61%;
  margin: 0 0 0 3%;
}

h3{
  font-family: "Indie Flower", sans-serif;
  color: #3A405A;
  text-shadow: 2px 2px #E9AFA3;
  font-size: 3rem;
  padding: 0 0 2%;
}
.error{
  color: red;
}
h4{
  margin: 1% 0;
  font-size: 1.4rem;
  font-family: "Baloo Bhaina 2", cursive;
}

p, ::placeholder {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
}

footer{
  color: #E9AFA3;
  text-shadow: #3A405A;
}
input{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #3A405A;
  padding-left: 1%
}
input[type=search]{
  font-size: 1rem;
}
button{
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 1rem;
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.card-container h4{
  width: 100%;
}
.card{
  border: 2px solid purple;
  width: 30%;
  margin: 1%;
  background-color: #D2DFF4;
  border-radius: 5px;
}